*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    counter-reset: picture;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background: radial-gradient(circle,
        rgb(53, 52, 52)1%,
        rgb(0,0,0)100%);
}



 /* ---------------HEADER----------------*/ 
header{
    background-color:rgb(0,0,0,0.1);
    width: 100%;
    height: 50px;
}




 /* ---------------MAIN----------------*/ 
main{
    border-radius: 50px;
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}

main h1{
    margin-top: 200px;
    color: azure;
    text-align: center;
    font-size: 60px;

}

.grid{
    width: 1200px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.7);
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
}

.grid div{
    border-radius: 20px;
    height: 200px;
    width: 200px;
    opacity: 0.8;
    overflow: hidden;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

.grid div:hover{
    opacity: 1;
    scale: 1.1;
    box-shadow: 0 0 10px white;
}


 /* ---------------FOOTER----------------*/ 
footer{
    background-color:rgb(0,0,0,0.1);
    width: 100%;
    height: 300px;
}

div img{
    width: max-content;
    height: 100%;
    object-fit: cover;
}