*,*::after,*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{  
    counter-reset: section;
    width: 100vw;
    height: 100vh;
    background-color: rgb(160, 154, 154);
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 50px;
    width: 60vw;
    height: 90vh;
    background-color:rgb(10, 10, 10) ;
    align-self: center;
}

main h1{
    color: whitesmoke;
    text-align: center;
}

section{
    display: flex;
    gap: 50px;
    height: 90%;
    width: 100%;
}

.menu{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
width: 30%;
height: 100%;
background-color: whitesmoke;
border-radius: 50px;
padding: 20px;
}

.menu p{
    color: rgb(65, 62, 62);
    text-align: center;
    font-size: 20px;
}

.menu div{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
select{
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

option{
    color: black;
}

.display{
padding: 20px;
gap: 10px;
border-radius: 50px;
width: 60%;
height: 100%;
background-color: whitesmoke;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
align-content: flex-start;
}

.display div{
    border-radius: 25px;
    height: 100px;
    width: 100px;
    background-color:rgb(10, 10, 10);
    position: relative;
}

.display div::after{
    counter-increment: section;
    content:counter(section);
    color: whitesmoke;
    position: absolute;
    top: 10px;
    left: 10px;
}

.display div:nth-child(2){
    height: 150px;
}

div button{
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

@media screen {
    
}